openapi: 3.0.3
info:
  title: 🍅 토마토 스마트팜 API
  description: |
    ## 개요
    SEED FARM 토마토 스마트팜 관리 시스템의 REST API 문서입니다.
    
    이 API는 n8n 워크플로우 기반으로 구현되어 있으며, 다음 기능을 제공합니다:
    
    - 🎥 **카메라 제어**: 라즈베리파이 카메라 원격 제어
    - 📊 **데이터 조회**: 실시간/히스토리/요약 데이터 조회
    - 🤖 **AI 분석**: YOLO 기반 토마토 분석, 지식베이스 연동 AI 챗봇
    - 💬 **채팅 히스토리**: 대화 내역 조회/삭제
    - 💰 **시장 가격**: KAMIS 도매가, 네이버 쇼핑 온라인 가격 비교
    - 🌱 **수확량 예측**: ML 모델 기반 예측 (R² 0.9084)
    - 📝 **농장 일지**: 일지 조회/저장
    
    ## 서버 환경
    - **운영 서버**: https://n8n.seedfarm.co.kr/webhook
    - **내부 서버**: http://192.168.49.200:5679/webhook
    
    ## 지식베이스
    AI 챗봇은 농촌진흥청 「농업기술길잡이 106 - 토마토」 364페이지 자료를 기반으로 합니다:
    - 영양장애 10종 (질소, 인산, 칼리, 칼슘, 마그네슘 등)
    - 생리장해 18종 (열과, 배꼽썩음과, 공동과 등)
    - 병해 8종 (잎곰팡이병, 흰가루병, 역병 등)
    - 해충 6종 (온실가루이, 총채벌레, 굴파리 등)
    - 바이러스 3종 (TYLCV, ToMV, CMV)
    
    ## 인증
    현재 API 키 인증이 필요한 엔드포인트는 `api_key` 파라미터를 사용합니다.
    
  version: 2.1.0
  contact:
    name: SEED FARM 개발팀
    email: dev@seedfarm.co.kr
  license:
    name: ISC

servers:
  - url: https://n8n.seedfarm.co.kr/webhook
    description: 운영 서버 (외부 접근용, HTTPS)
  - url: http://192.168.49.200:5679/webhook
    description: 내부 서버 (사내망 전용)

tags:
  - name: 📊 Data
    description: 토마토 분석 데이터 조회 API
  - name: 🎥 Camera
    description: 라즈베리파이 카메라 제어 API
  - name: 🤖 AI
    description: AI 챗봇 및 이미지 분석 API (지식베이스 연동)
  - name: 💬 Chat History
    description: 채팅 대화 내역 관리 API
  - name: 💰 Market
    description: 시장 가격 정보 API (KAMIS + 네이버 쇼핑)
  - name: 🌱 Prediction
    description: 수확량 예측 API (ML 모델)
  - name: 📝 Diary
    description: 농장 일지 API
  - name: 🏠 Home
    description: 앱 홈 화면용 통합 API

paths:
  # ===== 데이터 조회 API =====
  /data-realtime:
    get:
      tags:
        - 📊 Data
      summary: 실시간 토마토 분석 데이터 조회
      description: |
        최근 1시간 이내의 마지막 YOLO 분석 결과를 반환합니다.
        
        **데이터 출처**: InfluxDB (bucket: minwoo, measurement: predict)
      operationId: getRealtimeData
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TomatoData'
              example:
                Ready: 45
                Not_Ready: 23
                Disease_Bad: 2
                Truss: 8
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /data-history:
    get:
      tags:
        - 📊 Data
      summary: 과거 토마토 분석 데이터 조회
      description: |
        지정된 시간 범위의 시계열 데이터를 반환합니다.
        
        **사용 예시**:
        - 최근 30분: `?hours=0.5`
        - 최근 24시간: `?hours=24`
        - 최근 1주일: `?hours=168`
      operationId: getHistoryData
      parameters:
        - name: hours
          in: query
          description: 조회 기간 (시간 단위)
          required: false
          schema:
            type: number
            default: 1
            example: 24
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TomatoDataWithTime'
              example:
                data:
                  - time: "2025-12-10T06:00:00Z"
                    Ready: 40
                    Not_Ready: 20
                    Disease_Bad: 1
                    Truss: 7
                  - time: "2025-12-10T06:10:00Z"
                    Ready: 42
                    Not_Ready: 21
                    Disease_Bad: 1
                    Truss: 7

  /data-summary:
    get:
      tags:
        - 📊 Data
      summary: 오늘 일일 요약 데이터 조회
      description: |
        오늘 00:00:00 (KST) 부터 현재까지의 누적 데이터를 반환합니다.
      operationId: getDailySummary
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySummary'
              example:
                total_ready: 450
                total_not_ready: 230
                total_disease: 15
                avg_truss: 8

  # ===== 카메라 제어 API =====
  /camera-capture:
    post:
      tags:
        - 🎥 Camera
      summary: 즉시 촬영 및 분석
      description: |
        라즈베리파이 카메라로 즉시 촬영하고 YOLO 분석을 수행합니다.
        
        **처리 순서**:
        1. 라즈베리파이 스냅샷 요청
        2. YOLO 서버(localhost:8001)로 이미지 전송
        3. 분석 결과 InfluxDB 저장
        4. 결과 반환
      operationId: captureNow
      responses:
        '200':
          description: 촬영 및 분석 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
              example:
                success: true
                data:
                  Ready: 35
                  Not_Ready: 18
                  Disease_Bad: 2
                  Truss: 6
                  ripeness_rate: 66
                  disease_rate: 4
                timestamp: "2025-12-10T07:30:00Z"
        '500':
          description: 촬영 실패

  /capture-test:
    post:
      tags:
        - 🎥 Camera
      summary: 테스트 촬영 (랜덤 데이터)
      description: |
        라즈베리파이 없이 테스트용 랜덤 데이터를 생성합니다.
        
        **개발/테스트 용도**로만 사용하세요.
      operationId: captureTest
      responses:
        '200':
          description: 테스트 데이터 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  data:
                    $ref: '#/components/schemas/TomatoData'

  /camera-start:
    post:
      tags:
        - 🎥 Camera
      summary: 자동 모니터링 시작
      description: 설정된 간격으로 자동 촬영을 시작합니다.
      operationId: startMonitoring
      responses:
        '200':
          description: 모니터링 시작 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-stop:
    post:
      tags:
        - 🎥 Camera
      summary: 자동 모니터링 중지
      description: 자동 촬영을 중지합니다.
      operationId: stopMonitoring
      responses:
        '200':
          description: 모니터링 중지 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-status:
    get:
      tags:
        - 🎥 Camera
      summary: 카메라 상태 조회
      description: 현재 카메라의 모니터링 상태, 설정을 조회합니다.
      operationId: getCameraStatus
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatus'
              example:
                monitoring: true
                interval: 600
                last_capture: "2025-12-10T07:20:00Z"
                white_balance: "auto"

  /camera-interval:
    post:
      tags:
        - 🎥 Camera
      summary: 촬영 간격 설정
      description: |
        자동 촬영 간격을 설정합니다.
        
        **허용 값**: 60(1분), 300(5분), 600(10분), 1800(30분), 3600(1시간)
      operationId: setCaptureInterval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interval
              properties:
                interval:
                  type: integer
                  description: 촬영 간격 (초)
                  enum: [60, 300, 600, 1800, 3600]
                  example: 600
      responses:
        '200':
          description: 설정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-white-balance:
    post:
      tags:
        - 🎥 Camera
      summary: 화이트 밸런스 설정
      description: 카메라 화이트 밸런스 모드를 설정합니다.
      operationId: setWhiteBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
              properties:
                mode:
                  type: string
                  description: 화이트 밸런스 모드
                  enum: [auto, fluorescent, tungsten, daylight]
                  example: auto
      responses:
        '200':
          description: 설정 성공

  # ===== AI API =====
  /chat-message:
    post:
      tags:
        - 🤖 AI
      summary: AI 챗봇 메시지 전송 (지식베이스 연동)
      description: |
        토마토 재배 전문 AI 어시스턴트에게 질문합니다.
        
        **지식베이스 연동** (농촌진흥청 공식 자료 기반):
        - 병해 질문: 잎곰팡이병, 흰가루병, 역병, 시듦병 등 8종
        - 해충 질문: 온실가루이, 총채벌레, 아메리카잎굴파리 등 6종
        - 영양장애 질문: 질소/인산/칼리/칼슘 결핍 및 과잉 등 10종
        - 생리장해 질문: 열과, 배꼽썩음과, 공동과, 착색불량 등 18종
        - 바이러스 질문: TYLCV, ToMV, CMV 3종
        
        **세션 관리**:
        - `session_id`를 전송하면 대화 내역이 DB에 저장됩니다.
        - 동일한 `session_id`로 연속 대화가 가능합니다.
      operationId: sendChatMessage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: 사용자 메시지
                  example: "토마토 잎에 하얀 곰팡이가 생겼어요"
                session_id:
                  type: string
                  description: 세션 ID (대화 저장용)
                  example: "my_session_001"
                image:
                  type: string
                  format: binary
                  description: 토마토 이미지 (JPEG)
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: 사용자 메시지
                  example: "배꼽썩음과가 발생했어요"
                session_id:
                  type: string
                  description: 세션 ID (대화 저장용)
                  example: "my_session_001"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
              examples:
                disease_question:
                  summary: 병해 질문 응답
                  value:
                    response: "말씀하신 증상은 '흰가루병'일 가능성이 높습니다. 🧐 통풍이 원활하지 않거나 야간 온도가 낮을 때 발생하기 쉽습니다. 감염된 잎은 제거하고 환기량을 늘려주세요."
                    timestamp: "2025-12-10T07:39:07.566Z"
                    success: true
                    threadId: "my_session_001"

  /capture-analyze:
    post:
      tags:
        - 🤖 AI
      summary: 이미지 YOLO 분석 (FormData)
      description: |
        이미지 파일을 YOLO 모델로 분석합니다.
        
        **multipart/form-data** 형식으로 이미지를 전송하세요.
        
        **지원 형식**: JPEG, PNG
        
        **YOLO 클래스**:
        - ready: 수확 가능 (완숙)
        - not_ready: 미성숙
        - truss: 화방
        - Disease_Bad: 병해/불량
      operationId: analyzeImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: 토마토 이미지 파일 (JPEG, PNG)
      responses:
        '200':
          description: 분석 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResponse'

  /disease-diagnosis:
    post:
      tags:
        - 🤖 AI
      summary: 병해충 AI 진단 (Base64)
      description: |
        토마토 이미지를 AI(GPT-4 Vision)가 분석하여 병해충 상태를 진단합니다.
        
        **application/json** 형식으로 Base64 인코딩된 이미지를 전송하세요.
        
        **진단 항목**:
        - 건강 상태 평가 (건강/주의/위험)
        - 발견된 증상
        - 원인 분석
        - 긴급 조치 사항
        - 치료 방법
        - 예방 관리
      operationId: diagnoseDisease
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  description: "Base64 인코딩된 이미지 데이터 (data: prefix 제외)"
                  example: "/9j/4AAQSkZJRgABAQAAAQABAAD..."
                mimeType:
                  type: string
                  description: 이미지 MIME 타입
                  default: "image/jpeg"
                  example: "image/jpeg"
      responses:
        '200':
          description: 진단 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosisResponse'

  /raspberry-image:
    post:
      tags:
        - 🤖 AI
      summary: 라즈베리파이 이미지 수신
      description: |
        라즈베리파이에서 촬영한 이미지를 수신하고 자동 분석합니다.
        
        **내부 처리 순서**:
        1. 이미지 수신
        2. YOLO 분석 (localhost:8001)
        3. InfluxDB 저장
        4. 이미지 파일 저장 (김제 실증 데이터)
      operationId: receiveRaspberryImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: 촬영된 이미지 파일
      responses:
        '200':
          description: 처리 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

  # ===== Chat History API =====
  /chat-message/history:
    get:
      tags:
        - 💬 Chat History
      summary: 대화 목록 조회
      description: |
        저장된 채팅 대화 목록을 페이지네이션으로 조회합니다.
        
        **정렬**: 최신순 (created_at DESC)
      operationId: getChatHistoryList
      parameters:
        - name: page
          in: query
          description: 페이지 번호 (1부터 시작)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: limit
          in: query
          description: 페이지당 항목 수
          required: false
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatHistoryListResponse'
              example:
                success: true
                data:
                  - id: "my_session_001"
                    title: "토마토 잎에 하얀 곰팡이가 생겼어요"
                    createdAt: "2025-12-12T06:20:00Z"
                  - id: "thread_1765517989008"
                    title: "배꼽썩음과 발생 원인"
                    createdAt: "2025-12-12T05:30:00Z"
                pagination:
                  currentPage: 1
                  totalPages: 3
                  totalCount: 25
                  limit: 10

  /chat-message/history/detail:
    get:
      tags:
        - 💬 Chat History
      summary: 대화 상세 조회
      description: |
        특정 대화의 전체 메시지 내역을 조회합니다.
        
        **정렬**: 시간순 (created_at ASC)
      operationId: getChatHistoryDetail
      parameters:
        - name: threadId
          in: query
          description: 대화 스레드 ID
          required: true
          schema:
            type: string
            example: "my_session_001"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatHistoryDetailResponse'
              example:
                success: true
                timestamp: "2025-12-12T06:45:00Z"
                messages:
                  - role: "user"
                    content: "토마토 잎에 하얀 곰팡이가 생겼어요"
                  - role: "assistant"
                    content: "말씀하신 증상은 '흰가루병'일 가능성이 높습니다..."
        '404':
          description: 대화를 찾을 수 없음
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "대화를 찾을 수 없습니다"

  /chat-message/history/delete:
    delete:
      tags:
        - 💬 Chat History
      summary: 대화 삭제
      description: |
        특정 대화와 관련된 모든 메시지를 삭제합니다.
        
        **주의**: 삭제된 대화는 복구할 수 없습니다.
      operationId: deleteChatHistory
      parameters:
        - name: threadId
          in: query
          description: 삭제할 대화 스레드 ID
          required: true
          schema:
            type: string
            example: "my_session_001"
      responses:
        '200':
          description: 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatDeleteResponse'
              example:
                success: true
                message: "대화가 삭제되었습니다"
                deletedThreadId: "my_session_001"

  # ===== 시장 가격 API =====
  /market-price:
    get:
      tags:
        - 💰 Market
      summary: 실시간 시장 가격 조회
      description: |
        KAMIS API를 통해 오늘의 토마토 도매 시장 가격을 조회합니다.
        
        **데이터 출처**: 농산물유통정보(KAMIS)
        
        **반환 정보**:
        - 오늘 가격 (원/kg)
        - 어제 가격
        - 1주일 전 가격
        - 한달 전 가격
        - 1년 전 가격
        - 변동률
      operationId: getMarketPrice
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPrice'

  /price-compare:
    get:
      tags:
        - 💰 Market
      summary: 도매가 vs 온라인가 비교
      description: |
        KAMIS 도매 가격과 네이버 쇼핑 온라인 가격을 비교합니다.
        
        **비교 항목**:
        - 도매가 (상품/중품/방울토마토) - 원/kg
        - 온라인 최저가/중간가/최고가 - 원/kg
        - 마진율 계산
        
        **데이터 출처**:
        - 도매가: KAMIS API
        - 온라인가: 네이버 쇼핑 검색 API (완숙토마토 1kg 기준)
      operationId: getPriceCompare
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCompare'
              example:
                success: true
                date: "2025-12-10"
                wholesale_summary:
                  high: 3520
                  mid: 3080
                  cherry: 5800
                online_summary:
                  lowest_price: 5900
                  lowest_mall: "채소팜"
                  median_price: 13050
                  average_price: 13566
                  mall_count: 49
                comparison:
                  - grade: "상품"
                    wholesale_price: 3520
                    online_lowest: 5900
                    margin_rate: 68
                  - grade: "중품"
                    wholesale_price: 3080
                    online_lowest: 5900
                    margin_rate: 92

  /price-history:
    get:
      tags:
        - 💰 Market
      summary: 가격 추이 조회
      description: |
        기간별 토마토 가격 추이를 조회합니다.
        
        **기본값**: 최근 14일 (일요일 제외)
        
        **통계 정보**:
        - 최저/최고/평균 가격
        - 기간 내 변동폭
      operationId: getPriceHistory
      parameters:
        - name: start
          in: query
          description: 시작일 (YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
            example: "2025-12-03"
        - name: end
          in: query
          description: 종료일 (YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
            example: "2025-12-10"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistory'
              example:
                success: true
                period:
                  start: "2025-12-03"
                  end: "2025-12-10"
                count: 5
                data:
                  - date: "2025-12-03"
                    high: 3640
                    mid: 3120
                    cherry: 6000
                  - date: "2025-12-10"
                    high: 3520
                    mid: 3080
                    cherry: 5800
                stats:
                  high:
                    min: 3520
                    max: 3640
                    avg: 3584
                    change: -120
                  mid:
                    min: 3080
                    max: 3120
                    avg: 3112
                    change: -40

  # ===== 수확량 예측 API =====
  /yield-prediction:
    post:
      tags:
        - 🌱 Prediction
      summary: 수확량 예측
      description: |
        환경 데이터를 기반으로 ML 모델이 예상 수확량을 예측합니다.
        
        **모델 정보**:
        - 알고리즘: Random Forest
        - 학습 데이터: 농촌진흥청 스마트팜 DB (1,269개 데이터)
        - 정확도: R² = 0.9084, CV R² = 0.8257
        - RMSE: 1,366.68 kg
        
        **필수 입력**: 온도, 습도
        **선택 입력**: CO2, EC, pH, 일사량, 생육데이터, 시설타입, 재배면적
        
        **시계열 피처**: 전월 수확량, 3개월 평균 수확량 (정확도 향상)
      operationId: predictYield
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldPredictionRequest'
      responses:
        '200':
          description: 예측 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldPredictionResponse'

  # ===== 농장 일지 API =====
  /app/diary:
    get:
      tags:
        - 📝 Diary
      summary: 일지 목록 조회
      description: 최근 N일간의 농장 일지를 조회합니다.
      operationId: getDiaryList
      parameters:
        - name: days
          in: query
          description: 조회 기간 (일)
          schema:
            type: integer
            default: 7
            example: 7
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryListResponse'
    post:
      tags:
        - 📝 Diary
      summary: 일지 저장
      description: 당일 농장 일지를 저장합니다.
      operationId: saveDiary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntry'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  saved:
                    $ref: '#/components/schemas/DiaryEntry'

  # ===== 홈 화면 API =====
  /app/home:
    get:
      tags:
        - 🏠 Home
      summary: 홈 화면 통합 데이터
      description: |
        앱 홈 화면에 필요한 모든 데이터를 한 번에 반환합니다.
        
        **포함 데이터**:
        - 실시간 토마토 분석 결과
        - 오늘 요약 통계
        - 알림 목록
        - 스트리밍 URL
      operationId: getHomeData
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeData'

  /app/chat:
    post:
      tags:
        - 🏠 Home
      summary: 앱용 간편 채팅
      description: |
        앱에서 사용하는 간편 채팅 API입니다.
        
        **참고**: API 키 검증이 포함되어 있습니다.
      operationId: appChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  example: "오늘 토마토 상태 어때?"
                api_key:
                  type: string
                  example: "tomato-farm-2024"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'

  /app/analyze:
    post:
      tags:
        - 🏠 Home
      summary: 앱용 이미지 분석
      description: 앱에서 촬영한 이미지를 분석합니다.
      operationId: appAnalyze
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 분석 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResponse'

# ===== 컴포넌트 정의 =====
components:
  schemas:
    TomatoData:
      type: object
      description: 토마토 분석 결과 (YOLO 4-class)
      properties:
        Ready:
          type: integer
          description: 수확 가능한 완숙 토마토 개수
          example: 45
        Not_Ready:
          type: integer
          description: 미성숙 토마토 개수
          example: 23
        Disease_Bad:
          type: integer
          description: 병해충 감염 토마토 개수
          example: 2
        Truss:
          type: integer
          description: 화방 (꽃봉우리) 개수
          example: 8

    TomatoDataWithTime:
      allOf:
        - $ref: '#/components/schemas/TomatoData'
        - type: object
          properties:
            time:
              type: string
              format: date-time
              description: 측정 시간
              example: "2025-12-10T06:00:00Z"

    DailySummary:
      type: object
      properties:
        total_ready:
          type: integer
          description: 오늘 누적 수확 가능 토마토
        total_not_ready:
          type: integer
          description: 오늘 누적 미성숙 토마토
        total_disease:
          type: integer
          description: 오늘 누적 병해 토마토
        avg_truss:
          type: integer
          description: 평균 화방 수

    CaptureResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
              description: 성숙도 (%)
            disease_rate:
              type: integer
              description: 병해율 (%)
        timestamp:
          type: string
          format: date-time

    CameraStatus:
      type: object
      properties:
        monitoring:
          type: boolean
          description: 자동 모니터링 활성화 여부
        interval:
          type: integer
          description: 촬영 간격 (초)
        last_capture:
          type: string
          format: date-time
          description: 마지막 촬영 시간
        white_balance:
          type: string
          enum: [auto, fluorescent, tungsten, daylight]
          description: 화이트 밸런스 모드

    CameraStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string

    ChatResponse:
      type: object
      properties:
        response:
          type: string
          description: AI 응답 메시지
        timestamp:
          type: string
          format: date-time
        success:
          type: boolean
        threadId:
          type: string
          description: 저장된 대화 스레드 ID

    AnalysisResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
            disease_rate:
              type: integer

    DiagnosisResponse:
      type: object
      properties:
        success:
          type: boolean
        diagnosis:
          type: string
          description: AI 병해충 진단 결과 (마크다운 형식)
        healthStatus:
          type: string
          enum: [건강, 주의, 위험, 오류]
          description: 건강 상태 판정
        timestamp:
          type: string
          format: date-time

    # ===== Chat History Schemas =====
    ChatHistoryListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 대화 스레드 ID
              title:
                type: string
                description: 대화 제목 (첫 메시지 요약)
              createdAt:
                type: string
                format: date-time
                description: 대화 생성 시간
        pagination:
          type: object
          properties:
            currentPage:
              type: integer
            totalPages:
              type: integer
            totalCount:
              type: integer
            limit:
              type: integer

    ChatHistoryDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        timestamp:
          type: string
          format: date-time
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                enum: [user, assistant]
                description: 메시지 발신자
              content:
                type: string
                description: 메시지 내용

    ChatDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        deletedThreadId:
          type: string

    MarketPrice:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            item_name:
              type: string
              example: "토마토"
            kind_name:
              type: string
              example: "완숙토마토"
            unit:
              type: string
              example: "1kg"
            rank:
              type: string
              example: "상품"
            price:
              type: integer
              description: 오늘 가격 (원/kg)
              example: 3520
            yesterday_price:
              type: integer
              description: 어제 가격
            week_ago_price:
              type: integer
              description: 1주일 전 가격
            month_ago_price:
              type: integer
              description: 한달 전 가격
            year_ago_price:
              type: integer
              description: 1년 전 가격
            change:
              type: integer
              description: 가격 변동
            change_rate:
              type: number
              description: 변동률 (%)
            direction:
              type: string
              enum: [up, down, same]
            date:
              type: string
              format: date

    PriceCompare:
      type: object
      properties:
        success:
          type: boolean
        date:
          type: string
          format: date
        wholesale_summary:
          type: object
          description: 도매가 요약 (원/kg)
          properties:
            high:
              type: integer
              description: 상품
            mid:
              type: integer
              description: 중품
            cherry:
              type: integer
              description: 방울토마토
        online_summary:
          type: object
          description: 온라인가 요약 (원/kg)
          properties:
            lowest_price:
              type: integer
            lowest_mall:
              type: string
            median_price:
              type: integer
            average_price:
              type: integer
            mall_count:
              type: integer
        comparison:
          type: array
          items:
            type: object
            properties:
              grade:
                type: string
              wholesale_price:
                type: integer
              online_lowest:
                type: integer
              margin_rate:
                type: integer
                description: 마진율 (%)

    PriceHistory:
      type: object
      properties:
        success:
          type: boolean
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        count:
          type: integer
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              high:
                type: integer
              mid:
                type: integer
              cherry:
                type: integer
        stats:
          type: object

    YieldPredictionRequest:
      type: object
      required:
        - temperature
        - humidity
      properties:
        temperature:
          type: number
          description: 평균 온도 (°C)
          example: 25.5
        humidity:
          type: number
          description: 평균 습도 (%)
          example: 70
        co2:
          type: number
          description: CO2 농도 (ppm)
          example: 800
        ec:
          type: number
          description: EC 값 (dS/m)
          example: 2.5
        ph:
          type: number
          description: pH 값
          example: 6.5
        facility_type:
          type: string
          description: 시설 유형
          enum: [비닐, 유리]
          example: "비닐"
        area:
          type: number
          description: 재배 면적 (m²)
          example: 1000

    YieldPredictionResponse:
      type: object
      properties:
        success:
          type: boolean
        predicted_yield:
          type: number
          description: 예측 수확량 (kg/10a)
        predicted_yield_total:
          type: number
          description: 총 예측 수확량 (kg)
        confidence_interval:
          type: object
          properties:
            lower:
              type: number
            upper:
              type: number
            confidence_level:
              type: string
        model_used:
          type: string
        recommendations:
          type: array
          items:
            type: string

    DiaryEntry:
      type: object
      properties:
        date:
          type: string
          format: date
        weather:
          type: string
        temperature:
          type: number
        humidity:
          type: number
        work_done:
          type: string
        notes:
          type: string

    DiaryListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/DiaryEntry'

    HomeData:
      type: object
      properties:
        success:
          type: boolean
        realtime:
          $ref: '#/components/schemas/TomatoData'
        summary:
          $ref: '#/components/schemas/DailySummary'
        alerts:
          type: array
          items:
            type: object
        streaming_url:
          type: string

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        message:
          type: string